NeuroML_v2beta.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns="http://www.neuroml.org/schema/neuroml2" ns="http://www.neuroml.org/schema/neuroml2" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      Core elements                                    -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <rng:define name="NmlId">
        <a:documentation>
            An id attribute for elements which need to be identified uniquely (normally just within their parent element).
        </a:documentation>

        <rng:data type="string"><rng:param name="pattern">[a-zA-Z0-9_]*</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity">
        <a:documentation>
            A value for a physical quantity in NeuroML 2, e.g. 20, -60.0mV or 5nA
        </a:documentation>

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*([_a-zA-Z0-9])*</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_none">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_voltage">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(V|mV)</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_length">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(m|cm|um)</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_conductance">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(S|mS|uS|nS|pS)</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_conductanceDensity">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(S_per_m2|mS_per_cm2|S_per_cm2)</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_time">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(s|ms)</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_pertime">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(per_s|per_ms)</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_capacitance">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(F|uF|nF|pF)</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_specificCapacitance">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(F_per_m2|uF_per_cm2)</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_concentration">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(mol_per_m3|mol_per_cm3|M|mM)</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_current">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(A|uA|nA|pA)</rng:param></rng:data>

    </rng:define>

    <rng:define name="Nml2Quantity_temperature">

        <rng:data type="string"><rng:param name="pattern">-?([0-9]*(\.[0-9]+)?)([eE]-?[0-9]+)?[\s]*(degC)</rng:param></rng:data>

    </rng:define>


    <rng:define name="MetaId">
        <a:documentation>
            An id string for pointing to an entry in an annotation element related to a MIRIAM resource. Based on metaid of SBML
        </a:documentation>

        <rng:data type="string"><rng:param name="pattern">[a-zA-Z0-9_]*</rng:param></rng:data>

    </rng:define>


    <rng:define name="NeuroLexId">
        <a:documentation>
            An id string for pointing to an entry in the NeuroLex ontology. Use of this attribute is a shorthand for a full
            RDF based reference to the MIRIAM Resource urn:miriam:neurolex, with an bqbiol:is qualifier
            
        </a:documentation>

        <rng:data type="string"><rng:param name="pattern">[a-zA-Z0-9_]*</rng:param></rng:data>

    </rng:define>


    <rng:define name="SegmentId">
        <a:documentation>
            An id attribute for segments: integer &gt;=0 only!
        </a:documentation>

        <rng:data type="nonNegativeInteger"/>

    </rng:define>

    <!--NOTE: Base and Standalone definitions moved to end of file, as some XML language binding
        generators, e.g. generateDS.py, require superclasses to be defined after the subclasses... -->


    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      Metadata elements                                -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <rng:define name="Notes">
        <a:documentation>
            Textual human readable notes related to the element in question. It's useful to put these into
         the NeuroML files instead of XML comments, as the notes can be extracted and repeated in the files to which the NeuroML is mapped.
            
        </a:documentation>
        <rng:data type="string"/>
    </rng:define>


    <rng:define name="Annotation">
        <a:documentation>
            Placeholder for MIRIAM related metadata, among others.
        </a:documentation>
        
            <rng:zeroOrMore><rng:element><rng:anyName/><rng:text/></rng:element></rng:zeroOrMore> <!-- Further elements will be specified!! -->
        
    </rng:define>

    <rng:define name="ComponentType">
        <a:documentation>
            Contains an extension to NeuroML by creating custom LEMS ComponentType.
        </a:documentation>
        
            <rng:zeroOrMore><rng:element><rng:anyName/><rng:text/></rng:element></rng:zeroOrMore> <!-- Further elements will be specified!! -->
        

        <rng:attribute name="name"><rng:data type="string"/></rng:attribute>
        <rng:optional><rng:attribute name="extends"><rng:data type="string"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="description"><rng:data type="string"/></rng:attribute></rng:optional>

    </rng:define>


    <rng:define name="ZeroToOne">
        <a:documentation>
            Double restricted to between 1 and 0
        </a:documentation>
        <rng:data type="double"><rng:param name="minInclusive">0</rng:param><rng:param name="maxInclusive">1</rng:param></rng:data>
    </rng:define>



    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      Main NeuroML element                             -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <rng:start combine="choice"><rng:ref name="starting_neuroml"/></rng:start><rng:define name="starting_neuroml"><rng:element name="neuroml"><rng:ref name="NeuroMLDocument"/>
        <a:documentation>
            The root NeuroML element.
        </a:documentation>
    </rng:element></rng:define>

    <rng:define name="NeuroMLDocument">
<rng:attribute name="xsi:schemaLocation"><text/></rng:attribute>
 <!-- Making the complexType definition of the root element lowercase, not to confuse language binding generators... -->

        

            <rng:ref name="Standalone"/>

                

                    <rng:zeroOrMore><rng:element name="include"><rng:ref name="IncludeType"/></rng:element></rng:zeroOrMore>

                    <rng:zeroOrMore><rng:element name="extracellularProperties"><rng:ref name="ExtracellularProperties"/></rng:element></rng:zeroOrMore>
                    <rng:zeroOrMore><rng:element name="intracellularProperties"><rng:ref name="IntracellularProperties"/></rng:element></rng:zeroOrMore>

                    <rng:zeroOrMore><rng:element name="morphology"><rng:ref name="Morphology"/></rng:element></rng:zeroOrMore>

                    <rng:zeroOrMore><rng:element name="ionChannel"><rng:ref name="IonChannel"/></rng:element></rng:zeroOrMore>

                    <rng:ref name="ConcentrationModelTypes"/>

                    <rng:ref name="SynapseTypes"/>

                    <rng:zeroOrMore><rng:element name="biophysicalProperties"><rng:ref name="BiophysicalProperties"/></rng:element></rng:zeroOrMore>

                    <rng:ref name="CellTypes"/>

                    <rng:zeroOrMore><rng:element name="pulseGenerator"><rng:ref name="PulseGenerator"/></rng:element></rng:zeroOrMore>

                    <rng:zeroOrMore><rng:element name="network"><rng:ref name="Network"/></rng:element></rng:zeroOrMore>

                    <rng:zeroOrMore><rng:element name="ComponentType"><rng:ref name="ComponentType"/></rng:element></rng:zeroOrMore>

                

            

        

    </rng:define>

    <!-- A small subset of XLInclude from: http://www.w3.org/2001/XInclude.xsd
         Will be sufficient for now... -->
    <rng:define name="IncludeType">
        <rng:optional><rng:attribute name="href"><rng:data type="anyURI"/></rng:attribute></rng:optional>
    </rng:define>

    <rng:define name="CellTypes">
        <a:documentation>
            Various types of cells which are defined in NeuroML 2. This list will be expanded...
        </a:documentation>
        
            <rng:zeroOrMore><rng:element name="cell"><rng:ref name="Cell"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="abstractCell"><rng:ref name="AbstractCell"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="iafTauCell"><rng:ref name="IaFTauCell"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="iafCell"><rng:ref name="IaFCell"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="izhikevichCell"><rng:ref name="IzhikevichCell"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="adExIaFCell"><rng:ref name="AdExIaFCell"/></rng:element></rng:zeroOrMore>
        
    </rng:define>



    <rng:define name="SynapseTypes">
        <a:documentation>
            Various types of synapse which are defined in NeuroML 2. This list will be expanded...
        </a:documentation>
        
            <rng:zeroOrMore><rng:element name="expOneSynapse"><rng:ref name="ExpOneSynapse"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="expTwoSynapse"><rng:ref name="ExpTwoSynapse"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="nmdaSynapse"><rng:ref name="NmdaSynapse"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="stpSynapse"><rng:ref name="StpSynapse"/></rng:element></rng:zeroOrMore>
        
    </rng:define>


    <rng:define name="ConcentrationModelTypes">
        <a:documentation>
            Various types of concentration model which are defined in NeuroML 2. This list will be expanded...
        </a:documentation>
        
            <rng:zeroOrMore><rng:element name="decayingPoolConcentrationModel"><rng:ref name="DecayingPoolConcentrationModel"/></rng:element></rng:zeroOrMore>
        
    </rng:define>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      IonChannel element                                  -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <rng:define name="IonChannel">

        
            <rng:ref name="Standalone"/>
                <rng:choice>
                    <rng:zeroOrMore><rng:element name="gate"><rng:ref name="GateHHUndetermined"/></rng:element></rng:zeroOrMore>    <!-- TODO check type="gateHHrates" for this -->
                    <rng:zeroOrMore><rng:element name="gateHHrates"><rng:ref name="GateHHRates"/></rng:element></rng:zeroOrMore>
                    <rng:zeroOrMore><rng:element name="gateHHratesTau"><rng:ref name="GateHHRatesTau"/></rng:element></rng:zeroOrMore>
                    <rng:zeroOrMore><rng:element name="gateHHtauInf"><rng:ref name="GateHHTauInf"/></rng:element></rng:zeroOrMore>
                </rng:choice>

                <rng:optional><rng:attribute name="species"><rng:ref name="NmlId"/></rng:attribute></rng:optional>

                <rng:optional><rng:attribute name="type"><rng:ref name="channelTypes"/></rng:attribute></rng:optional>

                <rng:optional><rng:attribute name="conductance"><rng:ref name="Nml2Quantity_conductance"/></rng:attribute></rng:optional>

            
        
    </rng:define>

    <rng:define name="channelTypes">
        <rng:choice>
            <rng:value>ionChannelPassive</rng:value>
            <rng:value>ionChannelHH</rng:value>
            <rng:value>ionChannelKS</rng:value>
        </rng:choice>
    </rng:define>


    <rng:define name="gateTypes">
        <rng:choice>
            <rng:value>gateHHrates</rng:value>
            <rng:value>gateHHratesTau</rng:value>
            <rng:value>gateHHtauInf</rng:value>
            <rng:value>gateKS</rng:value>
        </rng:choice>
    </rng:define>



    <rng:define name="GateHHUndetermined">
        
            <rng:ref name="Base"/>
                <rng:interleave><rng:optional><rng:element name="notes"><rng:ref name="Notes"/></rng:element></rng:optional><rng:optional><rng:element name="q10Settings"><rng:ref name="Q10Settings"/></rng:element></rng:optional><rng:optional><rng:element name="forwardRate"><rng:ref name="HHRate"/></rng:element></rng:optional><rng:optional><rng:element name="reverseRate"><rng:ref name="HHRate"/></rng:element></rng:optional><rng:optional><rng:element name="timeCourse"><rng:ref name="HHTime"/></rng:element></rng:optional><rng:optional><rng:element name="steadyState"><rng:ref name="HHVariable"/></rng:element></rng:optional></rng:interleave>
                <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="instances" ns_1:defaultValue="1"><rng:data type="integer"/></rng:attribute></rng:optional>
                <rng:optional><rng:attribute name="type"><rng:ref name="gateTypes"/></rng:attribute></rng:optional>
            
        
    </rng:define>

    <rng:define name="GateHHRates">
        
            <rng:ref name="Base"/>
                <rng:interleave><rng:optional><rng:element name="notes"><rng:ref name="Notes"/></rng:element></rng:optional><rng:optional><rng:element name="q10Settings"><rng:ref name="Q10Settings"/></rng:element></rng:optional><rng:element name="forwardRate"><rng:ref name="HHRate"/></rng:element><rng:element name="reverseRate"><rng:ref name="HHRate"/></rng:element></rng:interleave>
                <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="instances" ns_1:defaultValue="1"><rng:data type="integer"/></rng:attribute></rng:optional>
                <rng:optional><rng:attribute name="type"><rng:ref name="gateTypes"/></rng:attribute></rng:optional>
            
        
    </rng:define>


    <rng:define name="GateHHTauInf">
        
            <rng:ref name="Base"/>
                <rng:interleave><rng:optional><rng:element name="notes"><rng:ref name="Notes"/></rng:element></rng:optional><rng:optional><rng:element name="q10Settings"><rng:ref name="Q10Settings"/></rng:element></rng:optional><rng:element name="timeCourse"><rng:ref name="HHTime"/></rng:element><rng:element name="steadyState"><rng:ref name="HHVariable"/></rng:element></rng:interleave>
                <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="instances" ns_1:defaultValue="1"><rng:data type="integer"/></rng:attribute></rng:optional>
                <rng:optional><rng:attribute name="type"><rng:ref name="gateTypes"/></rng:attribute></rng:optional>
            
        
    </rng:define>

    <rng:define name="GateHHRatesTau">
        
            <rng:ref name="Base"/>
                <rng:interleave><rng:optional><rng:element name="notes"><rng:ref name="Notes"/></rng:element></rng:optional><rng:optional><rng:element name="q10Settings"><rng:ref name="Q10Settings"/></rng:element></rng:optional><rng:element name="forwardRate"><rng:ref name="HHRate"/></rng:element><rng:element name="reverseRate"><rng:ref name="HHRate"/></rng:element><rng:element name="timeCourse"><rng:ref name="HHTime"/></rng:element></rng:interleave>
                <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="instances" ns_1:defaultValue="1"><rng:data type="integer"/></rng:attribute></rng:optional>
                <rng:optional><rng:attribute name="type"><rng:ref name="gateTypes"/></rng:attribute></rng:optional>
            
        
    </rng:define>


    <rng:define name="Q10Settings">
        <rng:attribute name="type"><rng:ref name="NmlId"/></rng:attribute>
        <rng:optional><rng:attribute name="fixedQ10"><rng:ref name="Nml2Quantity_none"/></rng:attribute></rng:optional>   <!-- TODO: make this and follwing 2 attrs either/or-->
        <rng:optional><rng:attribute name="q10Factor"><rng:ref name="Nml2Quantity_none"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="experimentalTemp"><rng:ref name="Nml2Quantity_temperature"/></rng:attribute></rng:optional>
    </rng:define>

    <rng:define name="HHRate">
        <rng:attribute name="type"><rng:ref name="NmlId"/></rng:attribute>
        <rng:optional><rng:attribute name="rate"><rng:ref name="Nml2Quantity_pertime"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="midpoint"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="scale"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute></rng:optional>
    </rng:define>

    <rng:define name="HHVariable">
        <rng:attribute name="type"><rng:ref name="NmlId"/></rng:attribute>
        <rng:optional><rng:attribute name="rate"><rng:data type="float"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="midpoint"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="scale"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute></rng:optional>
    </rng:define>

    <rng:define name="HHTime">
        <rng:attribute name="type"><rng:ref name="NmlId"/></rng:attribute>
        <rng:optional><rng:attribute name="rate"><rng:ref name="Nml2Quantity_time"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="midpoint"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="scale"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="tau"><rng:ref name="Nml2Quantity_time"/></rng:attribute></rng:optional>    <!-- TODO: make this and prev 3 attrs either/or-->
    </rng:define>

    <!--<xs:complexType name="FixedTimeCourse">
            <xs:attribute name="tau" type="Nml2Quantity_time" use="required"/>
    </xs:complexType>-->



    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      Concentration Model types                        -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <rng:define name="DecayingPoolConcentrationModel">

        
            <rng:ref name="Standalone"/>

                <rng:attribute name="ion"><rng:ref name="NmlId"/>
                    <a:documentation>
                        Should not be required, as it's present on the species element!
                    </a:documentation>
                </rng:attribute>
                <rng:attribute name="restingConc"><rng:ref name="Nml2Quantity_concentration"/></rng:attribute>
                <rng:attribute name="decayConstant"><rng:ref name="Nml2Quantity_time"/></rng:attribute>
                <rng:attribute name="shellThickness"><rng:ref name="Nml2Quantity_length"/></rng:attribute>

            
        
    </rng:define>


    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      Synapse types                                    -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <rng:define name="ConductanceBasedSynapse">

        
            <rng:ref name="Standalone"/>

                <rng:attribute name="gbase"><rng:ref name="Nml2Quantity_conductance"/></rng:attribute>
                <rng:attribute name="erev"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>

            
        
    </rng:define>


    <rng:define name="ExpOneSynapse">

        
            <rng:ref name="ConductanceBasedSynapse"/>

                <rng:attribute name="tauDecay"><rng:ref name="Nml2Quantity_time"/></rng:attribute>

            
        
    </rng:define>


    <rng:define name="ExpTwoSynapse">

        
            <rng:ref name="ConductanceBasedSynapse"/>

                <rng:attribute name="tauDecay"><rng:ref name="Nml2Quantity_time"/></rng:attribute>
                <rng:attribute name="tauRise"><rng:ref name="Nml2Quantity_time"/></rng:attribute>

            
        
    </rng:define>


    <rng:define name="NmdaSynapse">

        
            <rng:ref name="ExpTwoSynapse"/>
                
                    <rng:element name="voltageConcDepBlock"><rng:ref name="VoltageConcDepBlock"/></rng:element>
                

            
        
    </rng:define>

    <rng:define name="StpSynapse">

        
            <rng:ref name="ExpTwoSynapse"/>
                
                    <rng:element name="stpMechanism"><rng:ref name="StpMechanism"/></rng:element>
                

            
        
    </rng:define>



    <rng:define name="VoltageConcDepBlock">
        <rng:optional><rng:attribute name="type"><rng:data type="string"/></rng:attribute></rng:optional>
        <rng:attribute name="species"><rng:ref name="NmlId"/></rng:attribute>
        <rng:attribute name="blockConcentration"><rng:ref name="Nml2Quantity_concentration"/></rng:attribute>
        <rng:attribute name="scalingConc"><rng:ref name="Nml2Quantity_concentration"/></rng:attribute>
        <rng:attribute name="scalingVolt"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
    </rng:define>

    <rng:define name="StpMechanism">
        <rng:attribute name="initReleaseProb"><rng:ref name="ZeroToOne"/></rng:attribute>
        <rng:attribute name="tauFac"><rng:ref name="Nml2Quantity_time"/></rng:attribute>
        <rng:attribute name="tauRec"><rng:ref name="Nml2Quantity_time"/></rng:attribute>
    </rng:define>



    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      Cell element                                     -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <rng:define name="AbstractCell">

        
            <rng:ref name="Standalone"/>

            
        
    </rng:define>

    <rng:define name="IaFTauCell">
        
            <rng:ref name="AbstractCell"/>
                <rng:attribute name="leakReversal"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="thresh"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="reset"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="tau"><rng:ref name="Nml2Quantity_time"/></rng:attribute>
            
        
    </rng:define>

    <rng:define name="IaFCell">
        
            <rng:ref name="AbstractCell"/>
                <rng:attribute name="leakReversal"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="thresh"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="reset"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="C"><rng:ref name="Nml2Quantity_capacitance"/></rng:attribute>
                <rng:attribute name="leakConductance"><rng:ref name="Nml2Quantity_conductance"/></rng:attribute>
            
        
    </rng:define>

    <rng:define name="IzhikevichCell">
        
            <rng:ref name="AbstractCell"/>
                <rng:attribute name="v0"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="thresh"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="a"><rng:ref name="Nml2Quantity_none"/></rng:attribute>
                <rng:attribute name="b"><rng:ref name="Nml2Quantity_none"/></rng:attribute>
                <rng:attribute name="c"><rng:ref name="Nml2Quantity_none"/></rng:attribute>
                <rng:attribute name="d"><rng:ref name="Nml2Quantity_none"/></rng:attribute>
                <!--<xs:attribute name="Iamp" type="Nml2Quantity_none" use="required"/>
                <xs:attribute name="Idel" type="Nml2Quantity_time" use="required"/>
                <xs:attribute name="Idur" type="Nml2Quantity_time" use="required"/>-->
            
        
    </rng:define>

    <rng:define name="AdExIaFCell">
        
            <rng:ref name="AbstractCell"/>
                <rng:attribute name="C"><rng:ref name="Nml2Quantity_capacitance"/></rng:attribute>
                <rng:attribute name="gL"><rng:ref name="Nml2Quantity_conductance"/></rng:attribute>
                <rng:attribute name="EL"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="reset"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="VT"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="thresh"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="delT"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute>
                <rng:attribute name="tauw"><rng:ref name="Nml2Quantity_time"/></rng:attribute>
                <rng:attribute name="a"><rng:ref name="Nml2Quantity_conductance"/></rng:attribute>
                <rng:attribute name="b"><rng:ref name="Nml2Quantity_current"/></rng:attribute>
                <!--<xs:attribute name="Iamp" type="Nml2Quantity_current" use="required"/>
                <xs:attribute name="Idel" type="Nml2Quantity_time" use="required"/>
                <xs:attribute name="Idur" type="Nml2Quantity_time" use="required"/>-->
            
        
    </rng:define>


    <rng:define name="Cell">

        
            <rng:ref name="AbstractCell"/>

                
                    <rng:optional><rng:element name="morphology"><rng:ref name="Morphology"/></rng:element></rng:optional>
                    <rng:optional><rng:element name="biophysicalProperties"><rng:ref name="BiophysicalProperties"/></rng:element></rng:optional>
                


                <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="morphology" ns_1:defaultValue="1"><rng:ref name="NmlId"/>
                    <a:documentation>
                        Should only be used if morphology element is outside the cell.
                                          This points to the id of the morphology
                        
                    </a:documentation>
                </rng:attribute></rng:optional>

                <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="biophysicalProperties" ns_1:defaultValue="1"><rng:ref name="NmlId"/>
                    <a:documentation>
                        Should only be used if biophysicalProperties element is outside the cell.
                                          This points to the id of the biophysicalProperties
                        
                    </a:documentation>
                </rng:attribute></rng:optional>


            
        
    </rng:define>


    <rng:define name="Morphology">
        <a:documentation>
            Standalone element which is usually inside a single cell, but could be outside and
                              referenced by id.
            
        </a:documentation>

        

            <rng:ref name="Standalone"/>

                
                    <rng:oneOrMore><rng:element name="segment"><rng:ref name="Segment"/></rng:element></rng:oneOrMore>
                    <rng:zeroOrMore><rng:element name="segmentGroup"><rng:ref name="SegmentGroup"/></rng:element></rng:zeroOrMore>
                

            
        
    </rng:define>

    <rng:define name="Segment">
        
            <rng:ref name="Base"/>

                
                    <rng:optional><rng:element name="parent"><rng:ref name="SegmentParent"/></rng:element></rng:optional>
                    <rng:optional><rng:element name="proximal"><rng:ref name="Point3DWithDiam"/></rng:element></rng:optional>
                    <rng:element name="distal"><rng:ref name="Point3DWithDiam"/></rng:element>
                

                <!-- TODO: Do we want to do away with numerical ids and just use unique strings/names in id attribute? -->
                <!--<xs:attribute name="id" type="SegmentId" use="required"/>-->
                <rng:optional><rng:attribute name="name"><rng:data type="string"/></rng:attribute></rng:optional>

            
        

    </rng:define>

    <rng:define name="SegmentParent">
        <rng:attribute name="segment"><rng:ref name="SegmentId"/></rng:attribute>
        <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="fractionAlong" ns_1:defaultValue="1"><rng:ref name="ZeroToOne"/></rng:attribute></rng:optional>
    </rng:define>


    <rng:define name="Point3DWithDiam">
        <a:documentation>
            A 3D point with diameter.
        </a:documentation>
        <rng:attribute name="x"><rng:data type="double"/></rng:attribute>
        <rng:attribute name="y"><rng:data type="double"/></rng:attribute>
        <rng:attribute name="z"><rng:data type="double"/></rng:attribute>
        <rng:attribute name="diameter"><rng:data type="double"/></rng:attribute>
    </rng:define>


    <rng:define name="SegmentGroup">


        <!--.... dendrite_group  ...-->
        
            <rng:ref name="Base"/>

                
                    <rng:zeroOrMore><rng:element name="member"><rng:ref name="Member"/></rng:element></rng:zeroOrMore>
                    <rng:zeroOrMore><rng:element name="include"><rng:ref name="Include"/></rng:element></rng:zeroOrMore>
                    <rng:zeroOrMore><rng:element name="path"><rng:ref name="Path"/></rng:element></rng:zeroOrMore>
                    <rng:zeroOrMore><rng:element name="subTree"><rng:ref name="SubTree"/></rng:element></rng:zeroOrMore>
                    <rng:zeroOrMore><rng:element name="inhomogeneousParam"><rng:ref name="InhomogeneousParam"/></rng:element></rng:zeroOrMore>
                

            
        
    </rng:define>


    <rng:define name="InhomogeneousParam">
        
            <rng:ref name="Base"/>
                
                    <rng:optional><rng:element name="proximal"><rng:ref name="ProximalDetails"/></rng:element></rng:optional>
                    <rng:optional><rng:element name="distal"><rng:ref name="DistalDetails"/></rng:element></rng:optional>
                
                <rng:attribute name="variable"><rng:data type="string"/></rng:attribute>
                <rng:attribute name="metric"><rng:ref name="Metric"/></rng:attribute>
            
        
    </rng:define>


    <rng:define name="Metric">
        <a:documentation>
            Allowed metrics for InhomogeneousParam
        </a:documentation>
        <rng:choice>
            <rng:value>Path Length from root</rng:value>
        </rng:choice>
    </rng:define>


    <rng:define name="ProximalDetails">
        <rng:attribute name="translationStart"><rng:data type="double"/></rng:attribute>
    </rng:define>

    <rng:define name="DistalDetails">
        <rng:attribute name="normalizationEnd"><rng:data type="double"/></rng:attribute>
    </rng:define>

    <rng:define name="Member">
        <rng:attribute name="segment"><rng:ref name="SegmentId"/></rng:attribute>
    </rng:define>

    <rng:define name="Include">
        <rng:attribute name="segmentGroup"><rng:ref name="NmlId"/></rng:attribute>
    </rng:define>

    <rng:define name="Path">
        
            <rng:optional><rng:element name="from"><rng:ref name="SegmentEndPoint"/></rng:element></rng:optional>
            <rng:optional><rng:element name="to"><rng:ref name="SegmentEndPoint"/></rng:element></rng:optional>
        
    </rng:define>

    <rng:define name="SubTree">
        <rng:choice>
            <rng:optional><rng:element name="from"><rng:ref name="SegmentEndPoint"/></rng:element></rng:optional>
            <rng:optional><rng:element name="to"><rng:ref name="SegmentEndPoint"/></rng:element></rng:optional>
        </rng:choice>
    </rng:define>

    <rng:define name="SegmentEndPoint">
        <rng:attribute name="segment"><rng:ref name="SegmentId"/></rng:attribute>
    </rng:define>


    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      Biophysical properties                           -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


    <rng:define name="BiophysicalProperties">
        <a:documentation>
            Standalone element which is usually inside a single cell, but could be outside and
                              referenced by id.
            
        </a:documentation>
        
            <rng:ref name="Standalone"/>

                
                    <rng:element name="membraneProperties"><rng:ref name="MembraneProperties"/></rng:element>
                    <rng:optional><rng:element name="intracellularProperties"><rng:ref name="IntracellularProperties"/></rng:element></rng:optional>
                    <rng:optional><rng:element name="extracellularProperties"><rng:ref name="ExtracellularProperties"/></rng:element></rng:optional>
                


            
        
    </rng:define>


    <rng:define name="MembraneProperties">

        
            <rng:zeroOrMore><rng:element name="channelPopulation"><rng:ref name="ChannelPopulation"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="channelDensity"><rng:ref name="ChannelDensity"/></rng:element></rng:zeroOrMore>

            <rng:zeroOrMore><rng:element name="spikeThresh"><rng:ref name="ValueAcrossSegOrSegGroup"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="specificCapacitance"><rng:ref name="ValueAcrossSegOrSegGroup"/></rng:element></rng:zeroOrMore>

            <rng:zeroOrMore><rng:element name="initMembPotential"><rng:ref name="ValueAcrossSegOrSegGroup"/></rng:element></rng:zeroOrMore>

            <rng:zeroOrMore><rng:element name="reversalPotential"><rng:ref name="ReversalPotential"/></rng:element></rng:zeroOrMore>

        

    </rng:define>

    <rng:define name="ChannelPopulation">

        
            <rng:ref name="Base"/>

                
                    <rng:zeroOrMore><rng:element name="variableParameter"><rng:ref name="VariableParameter"/></rng:element></rng:zeroOrMore>
                

                <rng:attribute name="ionChannel"><rng:ref name="NmlId"/></rng:attribute>
                <rng:attribute name="number"><rng:data type="nonNegativeInteger"/></rng:attribute>

                <rng:optional><rng:attribute name="erev"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute></rng:optional>

                <!-- Note: only one of the following should be used!! -->
                <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="segmentGroup" ns_1:defaultValue="all"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
                <rng:optional><rng:attribute name="segment"><rng:ref name="NmlId"/></rng:attribute></rng:optional>

                <rng:optional><rng:attribute name="ion"><rng:ref name="NmlId"/>
                    <a:documentation>
                        Specifying the ion here again is redundant, this will be set in ionChannel. It is added here
                        TEMPORARILY as selecting all ca or na conducting channel populations/densities in a cell would be difficult otherwise.
                        It should be removed in the longer term, due to possible inconsistencies in this value and that in the ionChannel
                        element. TODO: remove.
                        
                    </a:documentation>
                </rng:attribute></rng:optional>

            
        

    </rng:define>

    <rng:define name="ChannelDensity">

        
            <rng:ref name="Base"/>

                
                    <rng:zeroOrMore><rng:element name="variableParameter"><rng:ref name="VariableParameter"/></rng:element></rng:zeroOrMore>
                

                <rng:attribute name="ionChannel"><rng:ref name="NmlId"/></rng:attribute>
                <rng:optional><rng:attribute name="condDensity"><rng:ref name="Nml2Quantity_conductanceDensity"/></rng:attribute></rng:optional>

                <rng:optional><rng:attribute name="erev"><rng:ref name="Nml2Quantity_voltage"/></rng:attribute></rng:optional>

                <!-- Note: only one of the following should be used!! -->
                <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="segmentGroup" ns_1:defaultValue="all"><rng:ref name="NmlId"/></rng:attribute></rng:optional>

                <rng:optional><rng:attribute name="segment"><rng:ref name="NmlId"/></rng:attribute></rng:optional>

                <rng:optional><rng:attribute name="ion"><rng:ref name="NmlId"/>
                    <a:documentation>
                        Specifying the ion here again is redundant, this will be set in ionChannel. It is added here
                        TEMPORARILY as selecting all ca or na conducting channel populations/densities in a cell would be difficult otherwise.
                        It should be removed in the longer term, due to possible inconsistencies in this value and that in the ionChannel
                        element. TODO: remove.
                        
                    </a:documentation>
                </rng:attribute></rng:optional>

            
        

    </rng:define>

    <rng:define name="ValueAcrossSegOrSegGroup">

        <rng:optional><rng:attribute name="value"><rng:ref name="Nml2Quantity"/></rng:attribute></rng:optional>

        <!-- Note: only one of the following should be used!! -->
        <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="segmentGroup" ns_1:defaultValue="all"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="segment"><rng:ref name="NmlId"/></rng:attribute></rng:optional>

    </rng:define>


    <rng:define name="VariableParameter">

        
            <rng:optional><rng:element name="inhomogeneousValue"><rng:ref name="InhomogeneousValue"/></rng:element></rng:optional>
        
        <rng:attribute name="parameter"><rng:data type="string"/></rng:attribute>
        <rng:attribute name="segmentGroup"><rng:data type="string"/></rng:attribute>

    </rng:define>

    <rng:define name="InhomogeneousValue">
        <rng:attribute name="inhomogeneousParam"><rng:data type="string"/></rng:attribute>
        <rng:attribute name="value"><rng:data type="string"/></rng:attribute>
    </rng:define>


    <rng:define name="ReversalPotential">

        
            <rng:ref name="ValueAcrossSegOrSegGroup"/>
                <rng:optional><rng:attribute name="species"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
            
        

    </rng:define>


    <rng:define name="Species">

        
            <rng:ref name="ValueAcrossSegOrSegGroup"/>

                <rng:attribute name="id"><rng:ref name="NmlId"/></rng:attribute>

                <rng:attribute name="concentrationModel"><rng:ref name="NmlId"/></rng:attribute>

                <rng:optional><rng:attribute name="ion"><rng:ref name="NmlId"/>
                    <a:documentation>
                        Specifying the ion here again is redundant, the ion name should be the same as id. Kept for now
                        until LEMS implementation can select by id. TODO: remove.
                        
                    </a:documentation>
                </rng:attribute></rng:optional>

                <rng:attribute name="initialConcentration"><rng:ref name="Nml2Quantity_concentration"/></rng:attribute>
                <rng:attribute name="initialExtConcentration"><rng:ref name="Nml2Quantity_concentration"/></rng:attribute>

            
        

    </rng:define>


    <!--
    <xs:complexType name="FixedConcentration">
        <xs:attribute name="concentration" type="Nml2Quantity_concentration" use="required"/>
    </xs:complexType>

    -->

 <!-- TODO: remove -->
    <rng:define name="ConcentrationModel_D">

        
            <rng:ref name="DecayingPoolConcentrationModel"/>

                <rng:attribute name="type"/>

            
        
    </rng:define>

    <rng:define name="IntracellularProperties">

        
            <rng:zeroOrMore><rng:element name="species"><rng:ref name="Species"/></rng:element></rng:zeroOrMore>
            <rng:zeroOrMore><rng:element name="resistivity"><rng:ref name="ValueAcrossSegOrSegGroup"/></rng:element></rng:zeroOrMore>
        

    </rng:define>

    <rng:define name="ExtracellularProperties">

        
            <rng:ref name="Base"/> <!-- Should be standalone, but need some real elements below or XSD not valid... -->
                
                    <rng:zeroOrMore><rng:element name="species"><rng:ref name="Species"/></rng:element></rng:zeroOrMore> <!-- Further elements will be specified!! -->
                

                <rng:optional><rng:attribute name="temperature"><rng:ref name="Nml2Quantity_temperature"/></rng:attribute></rng:optional>

            
        


    </rng:define>

    <rng:define name="ExtracellularPropertiesLocal">

        
            <rng:zeroOrMore><rng:element name="species"><rng:ref name="Species"/></rng:element></rng:zeroOrMore> <!-- Further elements will be specified!! -->
        

        <rng:optional><rng:attribute name="temperature"><rng:ref name="Nml2Quantity_temperature"/></rng:attribute></rng:optional>

    </rng:define>

    <rng:define name="ReactionScheme">

        
            <rng:ref name="Base"/> <!-- Should be standalone, but need some real elements below or XSD not valid... -->
                
                    <rng:zeroOrMore><rng:element><rng:anyName/><rng:text/></rng:element></rng:zeroOrMore> <!-- Further elements will be specified!! -->
                
                <rng:attribute name="source"><rng:data type="string"/></rng:attribute>
                <rng:attribute name="type"><rng:data type="string"/></rng:attribute>
            
        

    </rng:define>



    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      Inputs                                         -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


<!--Will be updated in line with LEMS ComponentType definitions -->

    <rng:define name="PulseGenerator">

        
            <rng:ref name="Standalone"/>

                <rng:attribute name="delay"><rng:ref name="Nml2Quantity_time"/></rng:attribute>
                <rng:attribute name="duration"><rng:ref name="Nml2Quantity_time"/></rng:attribute>
                <rng:attribute name="amplitude"><rng:ref name="Nml2Quantity_current"/></rng:attribute>

            
        
    </rng:define>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      Networks                                         -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


    <rng:define name="Network">

        
            <rng:ref name="Standalone"/>
                
                    <rng:zeroOrMore><rng:element name="space"><rng:ref name="Space"/></rng:element></rng:zeroOrMore>
                    <rng:zeroOrMore><rng:element name="region"><rng:ref name="Region"/></rng:element></rng:zeroOrMore>
                    <rng:zeroOrMore><rng:element name="extracellularProperties"><rng:ref name="ExtracellularPropertiesLocal"/></rng:element></rng:zeroOrMore>
                    <rng:oneOrMore><rng:element name="population"><rng:ref name="Population"/></rng:element></rng:oneOrMore>
                    <rng:zeroOrMore><rng:element name="cellSet"><rng:ref name="CellSet"/></rng:element></rng:zeroOrMore>

                    <rng:zeroOrMore><rng:element name="synapticConnection"><rng:ref name="SynapticConnection"/></rng:element></rng:zeroOrMore> <!--Will be updated in line with LEMS ComponentType definitions -->
                    <rng:zeroOrMore><rng:element name="projection"><rng:ref name="Projection"/></rng:element></rng:zeroOrMore> <!--Will be updated in line with LEMS ComponentType definitions -->

                    <rng:zeroOrMore><rng:element name="explicitInput"><rng:ref name="ExplicitInput"/></rng:element></rng:zeroOrMore> <!--Will be updated in line with LEMS ComponentType definitions -->
                    <rng:zeroOrMore><rng:element name="inputList"><rng:ref name="InputList"/></rng:element></rng:zeroOrMore> <!--Will be updated in line with LEMS ComponentType definitions -->
                
            
        

    </rng:define>


    <rng:define name="Space"> <!-- Something onto which cells & networks can be laid out, e.g. n dim grid or n dim Euclidean space -->

        
            <rng:ref name="Base"/>
                
                    <rng:optional><rng:element name="structure"><rng:ref name="SpaceStructure"/></rng:element></rng:optional>
                
                <rng:optional><rng:attribute name="basedOn"><rng:ref name="allowedSpaces"/></rng:attribute></rng:optional>
            
        

    </rng:define>

    <rng:define name="SpaceStructure">
        <rng:optional><rng:attribute name="xSpacing"><rng:data type="float"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="ySpacing"><rng:data type="float"/></rng:attribute></rng:optional> <!-- only use if >= 2D grid-->
        <rng:optional><rng:attribute name="zSpacing"><rng:data type="float"/></rng:attribute></rng:optional> <!-- only use if 3D grid-->
        <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="xStart" ns_1:defaultValue="0"><rng:data type="float"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="yStart" ns_1:defaultValue="0"><rng:data type="float"/></rng:attribute></rng:optional> <!-- only use if >= 2D grid-->
        <rng:optional><rng:attribute xmlns:ns_1="http://relaxng.org/ns/compatibility/annotations/1.0" name="zStart" ns_1:defaultValue="0"><rng:data type="float"/></rng:attribute></rng:optional> <!-- only use if 3D grid-->
    </rng:define>


    <rng:define name="allowedSpaces">
        <rng:choice>
            <rng:value>Euclidean_1D</rng:value>
            <rng:value>Euclidean_2D</rng:value>
            <rng:value>Euclidean_3D</rng:value>
            <rng:value>Grid_1D</rng:value>
            <rng:value>Grid_2D</rng:value>
            <rng:value>Grid_3D</rng:value>
        </rng:choice>
    </rng:define>


    <rng:define name="Region">

        
            <rng:ref name="Base"/>
                
                    <rng:zeroOrMore><rng:element><rng:anyName/><rng:text/></rng:element></rng:zeroOrMore> <!-- Further elements will be specified!! -->
                

                <rng:optional><rng:attribute name="space"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
            
        

    </rng:define>


    <rng:define name="Population">

        
            <rng:ref name="Standalone"/>
                <rng:choice>
                    <rng:optional><rng:element name="layout"><rng:ref name="Layout"/></rng:element></rng:optional>
                    <rng:oneOrMore><rng:element name="instance"><rng:ref name="Instance"/></rng:element></rng:oneOrMore>
                </rng:choice>

                <rng:optional><rng:attribute name="cell"><rng:ref name="NmlId"/></rng:attribute></rng:optional>       <!-- Only one of these should be used!!! -->
                <rng:optional><rng:attribute name="network"><rng:ref name="NmlId"/></rng:attribute></rng:optional>    <!-- Only one of these should be used!!! -->
                <rng:optional><rng:attribute name="component"><rng:ref name="NmlId"/></rng:attribute></rng:optional>    <!-- Only one of these should be used!!! -->

                <rng:optional><rng:attribute name="size"><rng:data type="integer"/></rng:attribute></rng:optional>    <!-- Temp!!! -->

                <rng:optional><rng:attribute name="type"><rng:ref name="populationTypes"/></rng:attribute></rng:optional>

                <rng:optional><rng:attribute name="extracellularProperties"><rng:ref name="NmlId"/></rng:attribute></rng:optional>

            
        

    </rng:define>



    <rng:define name="populationTypes">
        <rng:choice>
            <rng:value>population</rng:value>
            <rng:value>populationList</rng:value>
        </rng:choice>
    </rng:define>


    <rng:define name="Layout">

        <rng:choice>
            <rng:element name="random"><rng:ref name="RandomLayout"/></rng:element>
            <rng:element name="grid"><rng:ref name="GridLayout"/></rng:element>
            <rng:element name="unstructured"><rng:ref name="UnstructuredLayout"/></rng:element>
        </rng:choice>

        <rng:optional><rng:attribute name="space"><rng:ref name="NmlId"/></rng:attribute></rng:optional>

    </rng:define>



    <rng:define name="UnstructuredLayout">
        <rng:optional><rng:attribute name="number"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional>
    </rng:define>


    <rng:define name="RandomLayout">
        <rng:optional><rng:attribute name="number"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="region"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
    </rng:define>


    <rng:define name="GridLayout">
        <rng:optional><rng:attribute name="xSize"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="ySize"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional> <!-- only use if >= 2D grid-->
        <rng:optional><rng:attribute name="zSize"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional> <!-- only use if 3D grid-->
    </rng:define>


    <rng:define name="Instance">
        
            <rng:element name="location"><rng:ref name="Location"/></rng:element>
        
        <rng:optional><rng:attribute name="id"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="i"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional>  <!-- for grid -->
        <rng:optional><rng:attribute name="j"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional>  <!-- for grid -->
        <rng:optional><rng:attribute name="k"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional>  <!-- for grid -->
    </rng:define>

    <rng:define name="Location">
        <rng:optional><rng:attribute name="x"><rng:data type="float"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="y"><rng:data type="float"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="z"><rng:data type="float"/></rng:attribute></rng:optional>
    </rng:define>


    <rng:define name="CellSet">

        
            <rng:ref name="Base"/>
                
                    <rng:zeroOrMore><rng:element><rng:anyName/><rng:text/></rng:element></rng:zeroOrMore> <!-- Further elements will be specified!! -->
                

                <rng:attribute name="select"><rng:data type="string"/></rng:attribute>
            
        

    </rng:define>


    <rng:define name="SynapticConnection">
        <a:documentation>
            Single explicit connection. Introduced to test connections in LEMS. Will probably be removed in favour of
            connections wrapped in projection element
        </a:documentation>
        <rng:optional><rng:attribute name="from"><rng:data type="string"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="to"><rng:data type="string"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="synapse"><rng:data type="string"/></rng:attribute></rng:optional>
    </rng:define>

    <rng:define name="Projection">
        <a:documentation>
            Subject to change as it gets tested with LEMS
        </a:documentation>
        
            <rng:ref name="Base"/>
                
                    <rng:zeroOrMore><rng:element name="connection"><rng:ref name="Connection"/></rng:element></rng:zeroOrMore>
                
                <rng:optional><rng:attribute name="presynapticPopulation"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
                <rng:optional><rng:attribute name="postsynapticPopulation"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
                <rng:optional><rng:attribute name="synapse"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
            
        
    </rng:define>

    <rng:define name="Connection">
        <a:documentation>
            Subject to change as it gets tested with LEMS
        </a:documentation>
        <rng:optional><rng:attribute name="id"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="preCellId"><rng:data type="string"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="postCellId"><rng:data type="string"/></rng:attribute></rng:optional>
    </rng:define>



    <rng:define name="ExplicitInput">
        <a:documentation>
            Single explicit input. Introduced to test inputs in LEMS. Will probably be removed in favour of
            inputs wrapped in inputList element
        </a:documentation>
        <rng:optional><rng:attribute name="target"><rng:data type="string"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="input"><rng:data type="string"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="destination"><rng:data type="string"/></rng:attribute></rng:optional>
    </rng:define>


    <rng:define name="InputList">
        <a:documentation>
            Subject to change as it gets tested with LEMS
        </a:documentation>
        
            <rng:ref name="Base"/>
                
                    <rng:oneOrMore><rng:element name="input"><rng:ref name="Input"/></rng:element></rng:oneOrMore>
                
                <rng:optional><rng:attribute name="population"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
                <rng:optional><rng:attribute name="component"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
            
        
    </rng:define>

    <rng:define name="Input">
        <a:documentation>
            Subject to change as it gets tested with LEMS
        </a:documentation>
        <rng:optional><rng:attribute name="id"><rng:data type="nonNegativeInteger"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="target"><rng:data type="string"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="destination"><rng:ref name="NmlId"/></rng:attribute></rng:optional>
    </rng:define>




    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--      Further Core elements                                    -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <!--NOTE: Base and Standalone definitions moved to end of file, as some XML language binding
        generators, e.g. generateDS.py, require superclasses to be defined after the subclasses... -->

    <rng:define name="Base">

        <a:documentation>
            Anything which can have a unique id (within its parent) i.e. most elements.
        </a:documentation>

        <rng:attribute name="id"><rng:ref name="NmlId"/></rng:attribute>

        <rng:optional><rng:attribute name="neuroLexId"><rng:ref name="NeuroLexId"/></rng:attribute></rng:optional>

    </rng:define>


    <rng:define name="Standalone">

        <a:documentation>
            Elements which can stand alone and be referenced by id, e.g. cell, morphology.
        </a:documentation>

        
            <rng:ref name="Base"/>
                
                    <rng:optional><rng:element name="notes"><rng:ref name="Notes"/></rng:element></rng:optional> <!-- More metadata needed -->
                    <rng:optional><rng:element name="annotation"><rng:ref name="Annotation"/></rng:element></rng:optional> <!-- More metadata needed -->
                
                <rng:optional><rng:attribute name="name"><rng:data type="string"><a:documentation>
                        Optional human readable name of the element. Not necessarily unique; should not be used for referencing/indexing.
                    </a:documentation></rng:data></rng:attribute></rng:optional>

                <rng:optional><rng:attribute name="metaid"><rng:ref name="MetaId"/></rng:attribute></rng:optional>

            
        

    </rng:define>

</rng:grammar>
